*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {font-size: 25px; border-bottom:0px solid #ddd; margin-bottom:20px; color:var(--secondary-color);line-height:1.5}
h3, h4, h5, h6{font-size: 20px; border-bottom:1px solid #ddd; margin-bottom:10px; padding-bottom:10px; color:var(--secondary-color);line-height:1.5}

/* unvisited link */
a:link {
    color: #ff9f4d;
    text-decoration:none;
  }
  /* visited link */
  a:visited {
    color: #ff0022;
    text-decoration:none;
  }
  /* mouse over link */
  a:hover {
    color: rgb(85, 0, 119);
  }

body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    color: var(--secondary-color);
    font-size: 16px;
    word-wrap: break-word;
    background: linear-gradient(-45deg, #ff9f4d 40%, #ffc857 0, #ffc857 70%, #ff9f4d 0, #ff9f4d 100%);
}
.container {
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:40px 0 15px 0;
    position: relative;
}
.main {
    width: 1024px;
    height: auto;
    min-height: 100vh;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.4);

}
header{
    width: 100%;
    margin-top: 20px;
    text-align: center;
    border-bottom: 2px solid #ff9f4d;
    img{
        width: 100%;
        border-radius: 10px;
    }
    b{
        color: #fff; font-weight: 600; background-color: #ff9f4d; width: 100px; padding: 0 5px; border-radius: 5px;
    }
}
.content{
    width: 100%;
    height: auto;
    min-height: 300px;
    padding: 10px;
    h2{
        width: 100%;
        height: 50px;
        margin-top: 50px;
        img{
        }
    }
    h3{
        border-bottom: 1px solid rgb(207, 207, 207);
        margin: 20px 0 10px 0;
    }
    p{  
        padding:0;
        margin:5px 5px 0 17px;
        display: list-item;
        list-style: square;
    }
}
.post{
    width: 100%;
    height: auto;
    p{
        list-style: none !important;
    }
    ul{
        
        margin:20px 5px 0 17px;
        font-weight: bold;
        li{
            margin:5px 5px 0 17px;
            list-style: square;
            font-weight: normal;
        }
    }
}

iframe{
    width: 100%;
    height: 400px;
}

footer{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    p{  
        list-style: none !important;
    }
}

.socmed{
    width: 100%;
    height: auto;
    min-height: 50px;
    button{
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 7px;
        margin-right: 10px;
        cursor: pointer;
        transition: .3s ease;
        .fa{
            font-size: 30px;
            color: #fff;
            transition: .3s ease;

        }
    }
    button:hover{
        transform: translateY(-5px);
    }
    button:hover .fa{
        transform: rotate(360deg);
    }
}

.c1 {
    color: #ee4d2d;
  }
  
  .c2 {
    color: #f69113;
  }
  
  .c3 {
    color: #0046ab;
  }
  
  .c4 {
    color: #eda500;
  }
  
  .c5 {
    color: #26aa99;
  }
  
  .c6 {
    color: #ee2c4a;
  }
  
  .c7 {
    color: #30b566;
  }
  
  .bg8 {
    background-color: #ee4d2d;
  }
  
  .bg9 {
    background-color: #f69113;
  }
  
  .bg10 {
    background-color: #0046ab;
  }
  
  .bg4 {
    background-color: #eda500;
  }
  
  .bg5 {
    background-color: #26aa99;
  }
  
  .bg6 {
    background-color: #ee2c4a;
  }
  
  .bg7 {
    background-color: #30b566;
  }
  
  .bg11 {
    background-color: #fff;
  }
  
  .c12 {
    color: #ff0022;
  }

  .mode{
    width: 50px;
    height: 30px;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
    background-color: var(--primary-color);
    position: absolute;
    top: 5px;
    transition: .2s ease;
    .fa {
      font-size: 20px;
      color: var(--secondary-color);
      transition: .2s ease;
    }
  }

#icon{
  cursor: pointer;
}

:root{
  --primary-color:#edf2fc;
  --secondary-color:#212121;
}
.dark-theme{
  --primary-color:#040532;
  --secondary-color:#fff;
}

@media only screen and (max-width:600px){
    .main{
        width: 95%;
    }
    .content{
        h2{
            font-size: 20px;
        }
    }
}